.container h1 {
  padding-left: 4rem;
}

.wrapper {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  padding: 2rem;
  border-radius: 10px;
  width: 50%;
  display: flex;
  margin: 4rem auto;
}

.wrapper:hover {
  background-color: rgb(236, 243, 236);
  transition: 1s;
}

.wrapper__number {
  border-radius: 50%;
  padding: 0.3rem 1.5rem;
  background-color: green;
  color: #fff;
  margin: 1rem 2rem 0 0;
  height: 50px;
  width: 20px;
  display: flex;
  justify-content: center;
}

.wrapper__card h3 {
  color: green;
}

.wrapper__card button {
  background-color: green;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
